<html>
<a href="/logout" style="float:right">Logout</a>
<body>
User Profile:<br/>
Login: <%=profile.login%><br/>
Avatar Url: <%=profile.avatar_url%><br/>
Id: <%=profile.id%><br/>
Public Repos: <%=profile.public_repos%><br/>
Updated at: <%=profile.updated_at%><br/>
</body>
</html>
