<html>
<head>
<script src="/angular/angular.js"></script>
<script src="/angular/angular-route.js"></script>
<script src="/app.js"></script>
<script src="/Controllers.js"></script>
<a href="/logout" style="float:right">Logout</a>
</head>
<body>
User Profile:<br/>
Login: <%=profile.login%><br/>
Avatar Url: <%=profile.avatar_url%><br/>
Id: <%=profile.id%><br/>
Public Repos: <%=profile.public_repos%><br/>
Updated at: <%=profile.updated_at%><br/>

<br/><br/><br/>
<div ng-app='myApp' ng-controller='user_profile'>
Enter a GithubId:  <input type="text" ng-model='githubId' name= "githubid"></input>
<input type="button" value ="Enter" ng-click="getProfile()"></input>
<br/>
<br/>{{data.login}}
<br/> {{data.id}}
<br/> {{data.avatar_url}}
<br/> {{data.gravatar_id}}
</div>
</body>
</html>
